<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 
		mybatis와 관련된 추가 설정 기입
	 -->
	 
	<!-- 타입 별칭 -->
	<!-- <typeAliases>
		<typeAlias type="com.test.code.dto.CodeDTO" alias="dto"/>
	</typeAliases> -->
	<typeAliases>
		<typeAlias type="com.test.editor.model.MemberDTO" alias="member"/>
		<typeAlias type="com.test.editor.model.TeamDTO" alias="team"/>
		<typeAlias type="com.test.editor.model.ProjectDTO" alias="project"/>
		<typeAlias type="com.test.editor.model.MemberTeamDTO" alias="memberTeam"/>
		<typeAlias type="com.test.editor.model.ThemeDTO" alias="theme"/>
		<typeAlias type="com.test.editor.model.StyleSettingDTO" alias="styleSetting"/>
		<typeAlias type="com.test.editor.model.StyleTypeDTO" alias="styleType"/>
		<typeAlias type="com.test.editor.model.TemplateDTO" alias="template"/>
		<typeAlias type="com.test.editor.model.VersionInfoDTO" alias="versionInfo"/>
		<typeAlias type="com.test.editor.model.VersionFileDTO" alias="versionFile"/>
		<typeAlias type="com.test.editor.model.MemberProject" alias="memberProject"/>
		<typeAlias type="com.test.editor.model.ProjectFile" alias="projectFile"/>
	</typeAliases> 
</configuration>
