<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.editor.mapper.ExplorerMapper">

	<select id="getProjectFile" resultType="com.test.editor.model.ProjectFile">
		select * from vwProjectFile 
		where member_seq = #{member_seq} and project_seq = #{project_seq} and 
		versionInfo_seq = (select max(versionInfo_seq) from vwProjectFile where member_seq = #{member_seq} and project_seq = #{project_seq})
	</select>
	
</mapper>